.homepageFormButton {
    width: 100px;;
    align-self: center;
    border-radius: 5px;
    border: #0c0c0c;
    border-width: 2px;
    border-style: solid;
  }

  .homepageForm {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 10px;
   }
  
   @media (min-width: 1200px) {
    .homepageForm {
      border-style: solid;
      border-color: black;
      border-width: 2px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      background-color: white;
      gap: 10px;
      width: 30%;
      margin-left: 35%;
     }
  }