@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

:root {
  --primary: 253, 137, 147
 /* --background-start-rgb: 214, 219, 220;
 --background-end-rgb: 255, 255, 255; */
}

  body {
    margin: 0;
    margin-bottom:50px;
  }

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* .just-another hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
} */

body {
  color: black;
  /* background: rgb(var(--primary)); */
  background-image: url("../public/resources/cocktailwallpaper.jpeg");
  background-repeat: repeat;
  background-size: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

form {
  padding: 20px;
  border-radius: 5px;
  margin:20px;
  align-self: center;
}

.homepageFormButton {
  width: 100px;;
  align-self: center;
  border-radius: 5px;
  border: #0c0c0c;
  border-width: 2px;
  border-style: solid;
}

h1{
  text-align: center;
}

img {
  border-radius: 5px;
  width: 200px;
  align-self: center;
}

.nav {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: flex;
  gap: 90px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: xx-large;
  justify-content: space-evenly;
  display: flex;
  gap: 100px;
}

input {
  border-radius: 5;
}

.cocktailCard {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  height:64px;
  font-size: xx-large;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.addCocktailButton {
  background-color: #ff5f7a;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  position: fixed;
  bottom: 130px;
  right: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #0c0c0c;
  border-radius: 10px;;
}

.cocktailCardImageDiv{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.buttonDiv {
  position:relative;
  margin-bottom: 10px;
}

.cocktailCardDetail{
  position: relative;
  display: flex;
  flex-direction: column;
  gap:10px;
  height: 250px;
  margin-left: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-right: 20px;
  margin-top: 0px;
}

.cocktailCardMethod {
  bottom: 11px;
}

.cocktailCardName {
  font-size: x-large;
  position: absolute;
  left: 50%;
  /* right: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  top: 16px;
}

.backButton {
  top: 6px;
  left: 9px;
  font-size: larger;
}

.favButton {
  position:absolute;
  top: 6px;
  right: 12px;
}

.cocktailImage {
  width: 210px;
  border-radius: 10px;
}

.cocktailCardIngredients {
  top: 280px;
}

.addCocktailForm {
  display:flex;
  flex-direction: column;
  gap: 2.5px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px; 
}

.formInput {
  border-color: #0c0c0c;
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
}

.account {
  margin-top: 50px;
  position: absolute;
  position: relative;
  height: 250px;
  margin: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;

}

.userImage {
  position: absolute;
  top: 27px;
  left: 5px;
  width: 190px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.userName {
  position: absolute;
  right: 2px;
  text-align: center;
  font-size: larger;
  top: 50px;
  background-color: white;
}

.signOutButton {
  position: absolute;
  bottom: 45px;
  right: 50px;
  border: black;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: large;
  text-decoration: underline 5px pink;
}

.myCocktailsLink {
  position: absolute;
  left: 200px;
  bottom: 84px;
  font-size: large;
  background-color: white;
  padding: 5px;
  width: 170px;
  text-align: center;
  text-decoration: underline 5px pink;
}

.profileButton {
  margin-top: 5px;
  width: 40px;
}

.homeIcon {
  margin-top: 5px;
  width: 40px;
}

.detailsList {
  margin-bottom: 70px;
}

.cocktailListDetail {
  position:relative;
  height:200px;
  margin:20px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.cocktailListImage {
  position: absolute;
  border-radius: 10px;
  width: 180px;
}

.cocktailDetailName {
  position: absolute;
  font-size: larger;
  width: 150px;
  left: 190px;
}

.cocktailDetailIngredients {
  position: absolute;
  left:190px;
  top: 33px;
  font-size: smaller;
  font-style: italic;
  margin-top: 25px;
}

.newSearch {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  margin-top: 15px;
}

.newSearchInput {
  border-radius: 10px;
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.detailsPage {
  background-repeat: no-repeat;
  background-size: cover;
}

.homepageInput {
  background-color: #ffe3ea;
}
 .homepageForm {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
 }

 .deleteIcon{
  position: absolute;
  right: 10px;
  top: 6px;
  width: 23px;
 }

 .logInDiv {
  position: relative;
  height:200px;
  margin:20px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
 }

 .glassHalfFullDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: x-large;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 265px;
 }

 .signInDiv {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-size: large;
}

.signInButton {
  text-decoration: underline 5px pink;
}

.randomCocktail {
  position:relative;
  height:250px;
  margin:20px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  margin-top: 40px;
}

.rejectionButton {
  position: absolute;
  top: 6px;
  right: 38px;
}

.randomCocktailDetailName {
  position: absolute;
  font-size: larger;
  width: 100px;
  top: 33px;
  left: 218px;
}

.nextDrinkButton {
      position: absolute;
    right: 6px;
    top: 40%;
    font-size: larger;
}

.featuredCocktailTitle {
  position: absolute;
  top: 2px;
  left: 120px;
  font-style: italic;
}

.addCocktailFormButton {
  text-decoration: underline 5px pink;
}
.randomCocktailImage {
  position: absolute;
    bottom: 12px;
    border-radius: 10px;
    left: 9px;
}

.randomCocktailDetailIngredients{
  position: absolute;
  left: 220px;
  top: 104px;
  font-style: italic;
}

.easterEggDiv {
  position:relative;
  height:485px;
  margin:20px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.bells {
  border-radius: 10px;
  width: 400px;
  align-self: center;
}
