@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

:root {
  --primary: 253, 137, 147
 /* --background-start-rgb: 214, 219, 220;
 --background-end-rgb: 255, 255, 255; */
}

  body {
    margin: 0;
  }

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* .just-another hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
} */

body {
  color: black;
  background: rgb(var(--primary));
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

form {
  padding: 20px;
  border-radius: 5px;
  margin:20px;
  align-self: center;
}

button {
  width: 100px;;
  align-self: center;
  border-radius: 5px;
}

h1{
  text-align: center;
}

img {
  border-radius: 5px;
  width: 200px;
  align-self: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: xx-large;
  justify-content: space-evenly;
  display: flex;
  gap: 100px;
}

input {
  border-radius: 5;
}

.cocktailCard {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  height:64px;
  font-size: xx-large;
}

.addCocktailButton {
  background-color: #ed72d28f;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  position: fixed;
  bottom: 130px;
  right: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #0c0c0c;
}

.cocktailCardImageDiv{
  background-image: url('../public/resources/vector.png');
  background-size: 414px 600px;
  z-index: 100;
  height: 350px;
  position:relative;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
/* .cocktailListDetail {
  display: flex;
  flex-direction: column;
  align-items: center; 
} */

.cocktailCardDetail{
  z-index: 0;
}

.backButton {
  position: absolute;
  top: 10px;
  left: 0px;
}

.favButton {
  position: absolute;
  top: 11px;
  right: 1px;
}

.cocktailImage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 210px;
  border-radius: 10px;
}

.addCocktailForm {
  display:flex;
  flex-direction: column;
  gap: 2.5px;
  background-color: white;
}

.formInput {
  border-color: #0c0c0c;
  border-width: 1px;
  border-radius: 1px;
}

.account {
  margin-top: 50px;
  position: absolute;
  width: 100%;
  height: 225px;
}

.userImage {
  position: absolute;
  top: 0;
  left: 13px;
  width: 190px;
  border-radius: 10px;
}

.userName {
  position: absolute;
  right: 30px;
  text-align: center;
  font-size: larger;
  top: 50px;
}

.signOutButton {
  position: absolute;
  bottom: 81px;
  right: 66px;
  border: black;
  border-width: 1px;
}

.myCocktailsLink {
  position: absolute;
  left: 30px;
  bottom: 0;
  font-size: larger;
}

.profileButton {
  margin-top: 5px;
  width: 40px;
}

.homeIcon {
  margin-top: 5px;
  width: 40px;
}